body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  /*height: auto;*/
}

picture {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sprite-inline {
  display: none;
}

.title-h2 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #26d07c;
  color: #465062;
}

.title-h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #26d07c;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  color: #ffffff;
  background-color: #26d07c;
  border-radius: 4px;

  &:hover,
  &:focus {
    transition: 0.5s;
    background-color: #1eb86c;
  }

  &:active {
    transition: 0.1s;
    opacity: 0.7;
  }
}

.text {
  margin-bottom: 12px;
  color: #465062;
}
