.promo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $small-width;
  margin: 0 auto 10px;
}

.promo__photo {
  margin-top: -56px;
}

.promo__text {
  position: absolute;
  top: 130px;
  left: 20px;
  width: 250px;
  margin: 0;
  color: #f5f5f1;
}

.promo__name {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 7px;
  border-bottom: 2px solid #f5f5f1;
  margin-bottom: 10px;
}

.promo__description {
  line-height: 20px;
}
