.services__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  margin: 0 auto;
}

.services__info {
  display: none;
}

.services__info--active {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f5f5f1;
}

.services__description {
  @include text-mobile;
  display: inline-block;
  padding: 20px;
}

.services__name {
  font-size: 18px;
  display: block;
  width: $small-width - 44px;
  padding: 20px;
  border-left: 4px solid #465062;
  background-color: #f5f5f1;
  cursor: pointer;
  transition: 0.4s;

  &--active {
    color: #26d07c;
  }

  &:hover,
  &:focus {
    transition: 0.4s;
    border-left: 4px solid #26d07c;
  }
}

.services__table {
  width: $small-width - 50px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 20px 5px;
  margin: 0 auto 32px;
  border: 1px solid #465062;
}

.services__table td,
.services__table th {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #26d07c;
}

@media (min-width: $large-width) {
  .services__list {
    max-width: 1200px;
    margin-bottom: 50px;
  }

  .services__name {
    width: 1156px;
  }

  .services__description {
    @include text-desktop;
    padding: 30px;
    margin: 0;
    width: 500px;
  }

  .services__table {
    width: $large-width - 300px;
    padding: 0;
    border-spacing: 20px 10px;
    border: none;
    margin: 0 0 30px;
  }

  .services__table td,
  .services__table th {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }
}
